/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    behaviors {
        lra0_bump: lra0_bump {
            compatible = "zmk,output-behavior-generic"; 
            #binding-cells = <0>;
            device = <&lra0>;
            /* force will be convrt to waveformm effect from DRV2605 library */
            /* NOTE: <7> is Soft Bump at 100% */
            force = <7>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp X
                &kp Z
                &lra0_bump
            >;
        };
    };  
};